@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Quicksand, sans-serif;
  color: #333;
}

input, label {
  display: block;
}

a {
  text-decoration: none;
}

:root {
  --blue: #1e90ff;
  --light-blue: #1ea5ff7c;
  --light-gray: #f2f2f2;
}

.navbar {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid var(--light-gray);
}

.navbar__title {
  color: var(--blue);
}
.navbar__link {
  margin-left: 16px;
  padding: 8px;
  text-decoration: none;
  background-color: var(--light-blue);
  border-radius: 8px;
  font-weight: 600;
}

.content {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
}

.blog-list {
  border-bottom: 1px solid #fafafa;
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog-list__title {
  margin-bottom: 10px;
}

.blog-list__item {
  width: fit-content;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.blog-list__item-title {
  color: var(--blue);
  margin-bottom: 5px;
}