*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Quicksand, sans-serif;
  color: #333;
}

:root {
  --blue: #1e90ff;
  --light-blue: #1ea5ff7c;
  --light-gray: #f2f2f2;
}

.navbar {
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid var(--light-gray);
}

.navbar__title {
  color: var(--blue);
}
.navbar__link {
  margin-left: 16px;
  padding: 6px;
  text-decoration: none;
  background-color: var(--light-blue);
  border-radius: 8px;
}